Emails missing the Message-ID header

### Preflight checklist

- [x] I could not find a solution in the existing issues, docs, nor discussions.
- [x] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [x] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] I have joined the [Ory Community Slack](https://slack.ory.sh).
- [ ] I am signed up to the [Ory Security Patch Newsletter](https://www.ory.sh/l/sign-up-newsletter).

### Ory Network Project

_No response_

### Describe the bug

The emails sent from the courier bounce back due to my email provider requiring the `Message-ID` header. Most SMTP providers automatically add it if it is missing, but it is valid behavior due to [RFC 5322, section 3.6.4](https://datatracker.ietf.org/doc/html/rfc5322#section-3.6.4) to also reject such emails.

![Image](https://github.com/user-attachments/assets/28ecc434-4bd0-41d6-adc7-95502fb053ca)

### Reproducing the bug

1. Clone the quickstart project
2. Change `./contrib/quickstart/kratos/email-password/kratos.yml`: `courier.smtp.connection_uri` to `smtp://test:test@smtp4dev:25/?disable_starttls=true`
3. Edit `quickstart.yml` to use smtp4dev
    ```
    smtp4dev:
      image: rnwood/smtp4dev
      ports:
        - '4436:80'
      networks:
        - intranet
    ```
4. Inspect the sent email using `rnwood/smtp4dev` since mailslurper doesn't show headers

### Relevant log output

```shell

```

### Relevant configuration

```yml

```

### Version

v1.3.0

### On which operating system are you observing this issue?

Linux

### In which environment are you deploying?

Kubernetes with Helm

### Additional Context

I initially found the bug on v1.3.0 on my kubernetes deployment, but verified it locally using smtp4dev and kratos v1.3.1

I found fix for the issue from the grafana project. https://github.com/grafana/grafana/pull/83752

We also ran into this, sending password reset messages from kratos via a mail smarthost that didn't automatically add the message ID (tricky nowadays because of DKIM), and a recipient server (google) that doesn't accept messages without ID.